.card {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(3, 1fr);
	margin-bottom: 20px;
	width: 400px;
}

.card__number {
	width: 25px;
	height: 25px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}